<%= render 'partes/header_bottom', tipos: @tipos%>
<div class="content login-box">
  <div class="login-main">
    <div class="wrap">
      <h1>CREATE AN ACCOUNT</h1>
      <div class="register-grids">
        <%= form_for @user do |f| %>
          <div class="register-top-grid">
            <h3>PERSONAL INFORMATION</h3>
            <div>
              <span>User name<label>*</label></span>
              <%= f.text_field :user_name%> 
            </div>
            <div>
              <span>Email<label>*</label></span>
              <%= f.email_field :email, :style => "width: 96%; padding: 0.5em;" %>
            </div>
            <div>
              <span>Ciudad<label>*</label></span>
              <%= f.select :city_id, City.all.map{|c|[c.name, c.id]}, :style => "width: 50%" %>
            </div>            
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <div class="register-bottom-grid">
            <div>
              <span>Clave<label>*</label></span>
              <%= f.password_field :clave, :style => "width: 96%; padding: 0.5em;"%>    
            </div>
            <div>
              <span>Direccion de entrega<label>*</label></span>
              <%= f.text_field :addres, :style => "width: 96%; padding: 0.5em;"%>    
            </div>
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <input type="submit" value="submit">
        <% end %>
      </div>
    </div>
  </div>
</div>
