<%= render 'partes/menu_padre', tipos: @tipos %>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<%= link_to "Continuar comprando", root_path, :class => 'btn btn-primary btn-sm btn-block'%>
		</div>
	</div>
	<div class="row">
		<%= render  "partials/purchase_edit", purchase: @purchase%>			
	</div>
</div>

