<%= render 'partes/menu_padre', tipos: @tipos %>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>
                Confirmar pago
            </h3>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <%= render  "partials/table_purchases", purchases: @purchases%>
    <div class="row">
        <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">
          <input name="merchantId"    type="hidden"  value=<%=@merchant_id%>   >
          <input name="accountId"     type="hidden"  value="512321" >
          <input name="description"   type="hidden"  value="Test PAYU"  >
          <input name="referenceCode" type="hidden"  value=<%=@reference_code%>>
          <input name="amount"        type="hidden"  value=<%=@amount%>>
          <input name="tax"           type="hidden"  value="0"  >
          <input name="taxReturnBase" type="hidden"  value="0" >
          <input name="currency"      type="hidden"  value=<%=@currency_value%>>
          <input name="signature"     type="hidden"  value=<%=@md5_value%>>
          <input name="test"          type="hidden"  value="1" >
          <input name="buyerEmail"    type="hidden"  value="<%=@buyer_email_value%>" >
          <input name="responseUrl"    type="hidden"  value=<%=@respuesta_value%> >
          <input name="confirmationUrl"    type="hidden"  value=<%=@confirmacion_value%>>
          <input name="Submit"        type="submit"  value="Pagar" class="btn btn-primary btn-sm btn-block">
        </form>
    </div>    
</div>