<%= render  "partials/navegacion_panel_user", tipos: @tipos%>
<%@payments.each do |payment|%>
	<% if payment.detalle.count > 0%>
		<%= render "partials/table_venta", purchases: payment.detalle, origen: "usuario", payment: payment%>	
	<%end%>	
<% end%>
