<%= render 'partes/menu_padre', tipos: @tipos %>
<div class="container">
	<% if @purchases.count > 0 %>
       
        <div class="row">
          <div class="col-xs-6">
            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Carrito de compra</h5>
          </div>
          <div class="col-xs-6">
            <%= link_to "Continuar comprando", root_path, :class => 'btn btn-primary btn-sm btn-block'%>            
          </div>
        </div>
    <% description_purchase = "" %>   
    <%if @purchases.count > 0 %>   	
      <%   @purchases.each do |pur|%>
        <% description_purchase += "#{pur.producto.descripcion}" %>       
        <div class="row">      
          <%= render  "partials/purchase_edit", purchase: pur%>
        </div>
      <% end %>    
    <%end%>
	        
        <div class="row">
            <div class="col-xs-3">
              
            </div>
            <p>
            <div class="col-xs-3">
              <%= link_to 'Pagar', crear_pago_path, :class => "btn btn-primary btn-sm btn-block"%>
            </div>
            <div class="col-xs-3">
                <h4 class="text-right">Total <strong><%=number_to_currency(info_compra[1].round, precision: 0).to_s.gsub(/,/, ".")%></strong> </h4>              
            </div>            
            <p>
        </div>
	<%else %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Continuar comprando", root_path(:marca_id => 2), :class => 'btn btn-primary btn-sm btn-block'%>            
      </div>
    </div>                  		
	<% end %>
</div>
