<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @marca.nombre %>
</p>

<p>
  <strong>Url imagen:</strong>
  <%= @marca.url_imagen %>
</p>

<p>
  <strong>Url:</strong>
  <%= @marca.url %>
</p>

<%= link_to 'Edit', edit_marca_path(@marca) %> |
<%= link_to 'Back', marcas_path %>
