<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @change.producto %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @change.precio %>
</p>

<%= link_to 'Edit', edit_change_path(@change) %> |
<%= link_to 'Back', changes_path %>
