<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.text_field :imagen %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :precio_min %><br>
    <%= f.text_field :precio_min %>
  </div>
  <div class="field">
    <%= f.label :precio_max %><br>
    <%= f.text_field :precio_max %>
  </div>
  <div class="field">
    <%= f.label :precio_envio %><br>
    <%= f.text_field :precio_envio %>
  </div>
  <div class="field">
    <%= f.label :porcentaje_ganancia %><br>
    <%= f.text_field :porcentaje_ganancia %>
  </div>
  <div class="field">
    <%= f.label :precio_venta %><br>
    <%= f.text_field :precio_venta %>
  </div>
  <div class="field">
    <%= f.label :moneda %><br>
    <%= f.text_field :moneda %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
