<%= render 'partes/header_bottom', tipos: @tipos%>
<div class="content details-page">
  <div class="product-details">
    <div class="wrap">
      <ul class="product-head">
        <li>
          <%= link_to 'Home', root_path%>
          <span></span>
        </li>
        <li class="active-page">
          <a href="">
            Otra cosa
          </a>
        </li>
      </ul>
      <div class="details-left">
          <div class="details-left-slider">
            <ul id="etalage" class="etalage" style="display: block; width: 314px; height: 280px;">
              <% contador = 1%>
                <% @producto.imagen.split('|').each do |miniatura| %>
                  <% if contador == 1%>
                    <li id=<%= contador%> class="etalage_thumb thumb_1 etalage_thumb_active" style="display: list-item; background-image: none; opacity: 1; visibility: visible; border: none;">
                      <a href="">
                        <img class="etalage_thumb_image" src=<%= miniatura%> data-zoom-image=<%=miniatura%> style="display: inline; width: 300px; height: 300px; opacity: 1;">                                              
                      </a>
                    </li>                                    
                  <%else%>
                    <li id=<%= contador%> class="etalage_thumb thumb_1 etalage_thumb_active" style="display: list-item; background-image: none; opacity: 1; visibility: hidden; border: none;">
                      <a href="">
                        <img class="etalage_thumb_image" src=<%= miniatura%> data-zoom-image=<%=miniatura%> style="display: inline; width: 300px; height: 300px; opacity: 1;">                      
                      </a>
                    </li>                  
                  <%end%>
                  <% contador = contador + 1%>
                <% end%>
                  <li class="etalage_small_thumbs" style="width: 300px; top: 314px;">
                    <ul style="width: 300px;">
                      <% contador = 1%>
                      <% @producto.imagen.split('|').each do |miniatura| %>                        
                        <li class="etalage_smallthumb_navtostart etalage_smallthumb_last" style="border:none;"> 
                          <%= image_tag miniatura, :class => "etalage_small_thumb", :width =>"30", html: {id: "thumb-#{contador}", width: "30px", height: "30px", style: "visibility: hidden"}, :onclick => ("javascript: imgProduct(#{@producto.imagen.split('|').count}, #{contador})")%>                                                                        
                        </li>                        
                        <% contador = contador + 1%>
                      <%end%>              
                    </ul>                       
                  </li> 
                  <li>
                    
                  </li>               
            </ul>
        </div>       

          
        <div class="details-left-info">
        <div class="details-right-head">
          <h1>
            <%= @producto.descripcion%>
          </h1>
          <ul class="pro-rate">
            <li>
              <a class="product-rate" href="#"> 
                <label> </label>
              </a>
              <span> </span>
            </li>
<!--             <li>
              <a href="#">
                0 Review(s) Add Review
              </a>
            </li> -->
          </ul>
<!--           <p class="product-detail-info">
            <%= @producto.detalle[0,500].html_safe%>
            <div class="clear"> </div>
          </p> -->

          <a class="learn-more" href="#">
            <h3>
              MORE DETAILS
            </h3>
          </a>
          <div class="product-more-details">
            <ul class="price-avl">
              <li class="price"><label>$<%= @producto.precio_min%></label></li>
              <li class="stock"><i>In stock</i></li>
              <div class="clear"> </div>
            </ul>
            
            <% if logged_in?%> 
              <ul class="prosuct-qty">                
                  <li>
                  <%= form_tag(to_cart_path, :method=>'post') do %>
                    <%= select_tag 'quantity', options_for_select((1..20).step(1)), :class => ''%>      
                    <%= hidden_field_tag "producto_id", @producto.id %>
                    <%= hidden_field_tag "cart_id", 0 %>
                    <%= button_to "Add to car", to_cart_path, :class => 'button_tag'%>                                     
                  <% end %>                        
                  </li>                 
              </ul>              
            <% end %>                          
      <ul class="product-share">
        <h3>All so Share On</h3>
        <ul>
          <li><a class="share-face" href="#"><span> </span> </a></li>
          <li><a class="share-twitter" href="#"><span> </span> </a></li>
          <li><a class="share-google" href="#"><span> </span> </a></li>
          <li><a class="share-rss" href="#"><span> </span> </a></li>
          <div class="clear"> </div>
        </ul>
      </ul>
          </div>
        </div>
        </div>    
        <div class="clear"> </div> 
      </div>
<!--       <div class="details-right">
        
      </div> -->
      <div class="clear"> </div>
      </div>
<div class="product-reviwes">
        <div class="wrap">  
            <div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;">
                <div class="resp-tabs-container vertical-tabs">
                    <h2 id="details" class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Description</h2><div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
                        <p>
                          <%= @producto.detalle.html_safe%>
                        </p>
                    </div>
                </div>
            </div>
          <div class="clear"> </div>

              <!---//End-rate---->
                 <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3120px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-624px, 0px, 0px);"><div class="owl-item" style="width: 312px;"><div class="item" onclick="location.href='details.html';">
                          <div class="product-grid fade sproduct-grid">
                    <div class="product-pic">
                      <a href="#"><img src="images/product1.jpg" title="product-name"></a>
                      <p>
                      <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                      <span>Men's Firm-Ground Football Boot</span>
                      </p>
                    </div>
                    <div class="product-info">
                      <div class="product-info-cust">
                        <a href="#">Details</a>
                      </div>
                      <div class="product-info-price">
                        <a href="#">£ 200</a>
                      </div>
                      <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                      <span> </span>
                    </div>
                  </div>
                        </div></div><div class="owl-item" style="width: 312px;"><div class="item" onclick="location.href='details.html';">
                          <div class="product-grid fade sproduct-grid">
                    <div class="product-pic">
                      <a href="#"><img src="images/product2.jpg" title="product-name"></a>
                      <p>
                      <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                      <span>Men's Firm-Ground Football Boot</span>
                      </p>
                    </div>
                    <div class="product-info">
                      <div class="product-info-cust">
                        <a href="#">Details</a>
                      </div>
                      <div class="product-info-price">
                        <a href="#">£ 320</a>
                      </div>
                      <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                      <span> </span>
                    </div>
                  </div>
                        </div></div><div class="owl-item" style="width: 312px;"><div class="item" onclick="location.href='details.html';">
                          <div class="product-grid fade sproduct-grid">
                    <div class="product-pic">
                      <a href="#"><img src="images/product3.jpg" title="product-name"></a>
                      <p>
                      <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                      <span>Men's Firm-Ground Football Boot</span>
                      </p>
                    </div>
                    <div class="product-info">
                      <div class="product-info-cust">
                        <a href="#">Details</a>
                      </div>
                      <div class="product-info-price">
                        <a href="#">£ 380</a>
                      </div>
                      <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                      <span> </span>
                    </div>
                  </div>
                        </div></div><div class="owl-item" style="width: 312px;"><div class="item" onclick="location.href='details.html';">
                          <div class="product-grid fade sproduct-grid">
                    <div class="product-pic">
                      <a href="#"><img src="images/product4.jpg" title="product-name"></a>
                      <p>
                      <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                      <span>Men's Firm-Ground Football Boot</span>
                      </p>
                    </div>
                    <div class="product-info">
                      <div class="product-info-cust">
                        <a href="#">Details</a>
                      </div>
                      <div class="product-info-price">
                        <a href="#">£ 300</a>
                      </div>
                      <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                      <span> </span>
                    </div>
                  </div>
                        </div></div><div class="owl-item" style="width: 312px;"><div class="item" onclick="location.href='details.html';">
                          <div class="product-grid fade sproduct-grid">
                    <div class="product-pic">
                      <a href="#"><img src="images/product5.jpg" title="product-name"></a>
                      <p>
                      <a href="#"><small>Nike</small> HYPERVENOM <small>Phantom</small> FG</a>
                      <span>Men's Firm-Ground Football Boot</span>
                      </p>
                    </div>
                    <div class="product-info">
                      <div class="product-info-cust">
                        <a href="#">Details</a>
                      </div>
                      <div class="product-info-price">
                        <a href="#">£ 270</a>
                      </div>
                      <div class="clear"> </div>
                    </div>
                    <div class="more-product-info">
                      <span> </span>
                    </div>
                  </div>
                        </div></div></div></div>
                        
                        
                        
                        
                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next disabled"></div></div></div></div>
        <!----//End-img-cursual---->
            </div>
            <div class="clear"> </div>
          </div>
          <!--- //End-similar-products--->
      </div>
      </div>  
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-7"></div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      
      <div class="row">
        <img src=<%= @producto.imagen.split('|')[0].gsub(/50x50/, '200x200') %>>
      </div>
      <div class="row">
        <% contador = 0%>
        <% @producto.imagen.split('|').each do |miniatura| %> 
          <%if contador > 0 %>
            <div class="col-sm-2">
              <img src=<%= miniatura%> :class="img-responsive" alt="a" style="width: 100px;0px;height:100px;">
            </div>          
          <% else %>
          <% end %>
          <% contador = contador + 1 %>
        <% end %>
      </div>
      <div class="row">
        <%= @producto.descripcion %>        
      </div>  
      <div class="row">
        <div class="col-md-12">
          <% if logged_in? %>
            <%= link_to 'Add to card', add_to_card_path(:producto_id => @producto.id), :class => 'btn btn-primary btn-sm'%>  
          <% else %>
          <% end %>                            
        </div>                    
      </div>
      <hr>
      <div class="row">
        <small>
          <% if logged_in? %>
            <% if current_user.nivel == 1 %>
              <small>min-max [<%= @producto.precio_min %>, <%= @producto.precio_max%> <%= @producto.moneda %>]</small>
              <p>
              <small>Envio <%= @producto.moneda%> <%= @producto.precio_envio%>, CLP <%= (@producto.precio_envio*@producto.divisa).round%></small>
              <p>
              <small>precio_base <%= @producto.moneda%> <%= @producto.precio_base%>, <%= (@producto.precio_base*@producto.divisa).round%></small>
              <p>
              <small>Iva <%= @producto.moneda%> <%= @producto.iva%>, CLP <%= (@producto.iva*@producto.divisa).round%></small>
              <p>
              <small>Gravamen <%= @producto.moneda%> <%= @producto.grv%>, CLP <%= (@producto.grv*@producto.divisa).round%></small>
              <p>
              <small>ganancia <%= @producto.moneda%> <%= @producto.ganancia%>, CLP <%= (@producto.ganancia*@producto.divisa).round%></small>
              <p>
              <small>Precio de venta <%= @producto.moneda%> <%= @producto.precio_venta%>, CLP <%= (@producto.precio_venta*@producto.divisa).round%></small>

              <p>
              Divisa : <%= @producto.divisa%>                   
            <% end %>                                                          
          <% end %>
           <h6>
             <label>
               CLP <%= (@producto.precio_venta*@producto.divisa).round %>
             </label>
           </h6>                 
        </small>               
      </div>
      <% if logged_in? %>
        <% if current_user.nivel == 1 %> 
          <div class="row">
          <div class="col-md-6">
            <a href=<%= @producto.url%> class = 'btn btn-success btn-sm'>
              Link a tienda
            </a>            
          </div>
          <div class="col-md-6">
            <%= link_to 'Editar', edit_producto_path(@producto), :class => 'btn btn-success btn-sm' %> 
          </div>
          </div>            
        <% end %>
      <% end %>

    </div>
    <div class="col-sm-7">
      <div class="row">
        <h4 align="center">
          Especificaciones:
        </h4>
      </div>
      <div class="row">
        <% @producto.detalle.split('|').each do |caracteristica| %>                 
          <div class="col-sm-6">
            <p>
              <small>
                <% if @diccionario[caracteristica.split(':')[0]].class != NilClass %>
                  <%= @diccionario[caracteristica.split(':')[0]]%>: <%= caracteristica.split(':')[1] %>
                <%else%>
                  <%= caracteristica %>
                <%end%>
                
              </small> 
            </p>          
          </div> 
        <% end %>
      </div>            
    </div>
  </div>
</div>



 -->