<%= render 'partes/header_bottom', tipos: @tipos%>
<div class="content login-box">
      <div class="login-main">
        <div class="wrap">

          <h1>LOGIN OR CREATE AN ACCOUNT</h1>
          <div class="login-left">
            <h3>NEW CUSTOMERS</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <%= link_to "Crear una cuenta", new_user_path, :class => 'acount-btn'%>
          </div>
          <div class="login-right">
            <h3>REGISTERED CUSTOMERS</h3>
            <p>If you have an account with us, please log in.</p>
            <%= form_for(:session, url: login_path) do |f| %>
              <div>
                <span>Email Address<label>*</label></span>
                <%= f.email_field :email, :style => 'border: 1px solid #EEE; outline-color: #E45D5D; width: 96%; font-size: 1em; padding: 0.5em;'%> <div class="notice" color="red"><%= flash[:email] %></div>
              </div>
              <div>
                <span>Password<label>*</label></span>
                  <%= f.password_field :clave, :style => 'border: 1px solid #EEE; outline-color: #E45D5D; width: 96%; font-size: 1em; padding: 0.5em;'%> <div class="notice"><%= flash[:clave] %></div>    
              </div>
              <a class="forgot" href="#">Forgot Your Password?</a>
              <%= f.submit "Login"%>
            <% end %>
          </div>
          <div class="clear"> </div>
        </div>
      </div>
    </div>