<!DOCTYPE html>
<html>
<head>
  <title>Tienda</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--<%= javascript_include_tag 'easing', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'easyResponsiveTabs', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'jquery-ui', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>    
  <%= javascript_include_tag 'jquery.easy-ticker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.etalage.min', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jstarbox', 'data-turbolinks-track' => true %>    
  <%= javascript_include_tag 'megamenu', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'menu_jquery', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'modal', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'move-top', 'data-turbolinks-track' => true %>    
  <%= javascript_include_tag 'owl.carousel', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scripts-f0e4e0c2', 'data-turbolinks-track' => true %> -->     
  

  <%= csrf_meta_tags %>
  </head>
<body>	  	
  <div class="header">
    <%= render 'partes/top_header'%>
    <%= render 'partes/mid_header'%>
  </div>

		<%= yield %>	    
    <%= render 'partes/bottom_grids'%>
  </div>    
</body>
</html>
