<%= render  "partials/navegacion_panel_admin", tipos: @tipos%>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h1>Ventas realizadas</h1>
		</div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row">
	<% @payments.each do |agrupador, ventas|%>
		<h2>
			Referencia de venta : <%= agrupador%>
		</h2>
		<%= render 'partials/table_venta', ventas: ventas%>
		<hr>
	<% end %>
	</div>
</div>
