<div class="container">
  Tiempo de entrega
  <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
  <h1>Direcciòn de entrega</h1>
  <p><%= current_user.addres%></p>
  <h1>Valor total a pagar</h1>
  <p>$<%= @total%>
    <div class="row">
        <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/" id="form_data">
          <input name="merchantId"    type="hidden"  value=<%=@merchant_id%>   >
          <input name="accountId"     type="hidden"  value="512321" >
          <input name="description"   type="hidden"  value="Test PAYU"  >
          <input name="referenceCode" type="hidden"  value=<%=@reference_code%>>
          <input name="amount"        type="hidden"  value=<%=@amount%>>
          <input name="tax"           type="hidden"  value="0"  >
          <input name="taxReturnBase" type="hidden"  value="0" >
          <input name="currency"      type="hidden"  value=<%=@currency_value%>>
          <input name="signature"     type="hidden"  value=<%=@md5_value%>>
          <input name="test"          type="hidden"  value="1" >
          <input name="buyerEmail"    type="hidden"  value="<%=@buyer_email_value%>" >
          <input name="responseUrl"    type="hidden"  value=<%=@respuesta_value%> >
          <input name="confirmationUrl"    type="hidden"  value=<%=@confirmacion_value%>>
          <input name="Submit"        type="submit"  value="Enviar" id='send_data' class="button_tag">
        </form>
    </div>
  </p>   
</div>

