<%= form_for(@scrapy) do |f| %>
  <% if @scrapy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrapy.errors.count, "error") %> prohibited this scrapy from being saved:</h2>

      <ul>
      <% @scrapy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p align="center">
          Dominio          
        </p>     
        <%= f.text_field :dominio, :class => 'form form-control'%> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p align="center">url</p>
        <%= f.text_field :url, :class => 'form-control input-lg' %>        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p align="center">Productos Path</p>
        <%= f.text_field :productos_path, :class => 'form-control input-md' %>        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Tienda <p> <%= f.select :store_id, Store.all.map{|p|[p.name, p.id]} %>
      </div>
      <div class="col-sm-4">
        Marca <p> <%= f.select :marca_id, Marca.all.map{|p|[p.nombre, p.id]} %>
      </div>
      <div class="col-sm-4">
        Tipo <p> <%= f.select :tipo_id, Tipo.all.map{|p|[p.nombre, p.id]} %>
      </div>
    </div>

    <div class="row">
      <row>
        <div class="col-sm-8">
          Imagen path <p> <%= f.text_field :imagen_path, :class => 'form-control input-sm' %>
        </div>        
        <div class="col-sm-4">
          Imagen atributos <p> <%= f.text_field :imagen_atributos, :class => 'form-control input-sm', :placeholder => "atrib1;atrib2;....atribN" %>
        </div>
      </row>
    </div>
    <div class="row">
      <div class="col-sm-12">
        Descripcion path <p> <%= f.text_field :descripcion_path, :class => 'form-control input-sm' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Precio path <p> <%= f.text_field :precio_path, :class => 'form-control input-sm' %>
      </div>    
      <div class="col-sm-6">
        Moneda path <p> <%= f.text_field :moneda_path, :class => 'form-control input-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Url path <p> <%= f.text_field :url_path, :class => 'form-control input-sm' %>
      </div>        
      <div class="col-sm-4">
        detalle atributos <p> <%= f.text_field :url_atributos, :class => 'form-control input-sm', :placeholder => "atrib1;atrib2;....atribN"%>
      </div>                
      <div class="col-sm-4">
        detalle path <p> <%= f.text_field :detalle_path, :class => 'form-control input-sm' %>
      </div>              
    </div>    

    <div class="row">
      <div class="col-sm-4">
        Detalle title path <p> <%= f.text_field :detalle_title_path, :class => 'form-control input-sm' %>
      </div>
      <div class="col-sm-4">
        Detalle des path <p> <%= f.text_field :detalle_des_path, :class => 'form-control input-sm' %>
      </div>
      <div class="col-sm-4">
        Detalle general path <p> <%= f.text_field :detalle_general_path, :class => 'form-control input-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        Detail gallery path <p> <%= f.text_field :detail_gallery_path, :class => 'form-control input-sm' %>
      </div>
      <div class="col-sm-6">
        Imagenes path <p> <%= f.text_field :imagenes_path, :class => 'form-control input-sm' %>        
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        Imag path <p> <%= f.text_field :imag_path, :class => 'form-control input-sm' %>
      </div>
      <div class="col-sm-4">
        Imag atributos <p> <%= f.text_field :imag_atributos, :class => 'form-control input-sm', :placeholder => "atrib1;atrib2;....atribN"%>
      </div>                
    </div> 

    <div class="row">
      <div class="col-sm-4">
        Next page path <p> <%= f.text_field :next_page_path, :class => 'form-control input-sm', :placeholder => "ubicaciòn de la pagina siguiente"%>        
      </div>
      <div class="col-sm-4">
        Desde nivel <p> <%= f.text_field :desde_nivel, :class => 'form-control input-sm', :placeholder => "Hasta que nivel desea extraer"%>                
      </div>      
      <div class="col-sm-4">
        Hasta nivel <p> <%= f.text_field :hasta_nivel, :class => 'form-control input-sm', :placeholder => "Hasta que nivel desea extraer"%>                
      </div>
    </div>               
  </div>
        
    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "Save", :class => 'form-control button-sm' %>
      </div>      
    </div>    
  
  </div>
<% end %>
