<p id="notice"><%= notice %></p>

<h1>Listing Scrapies</h1>

<table>
  <thead>
    <tr>
      <th>Tienda</th>
      <th>Marca</th>
      <th>Tipo</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scrapies.each do |scrapy| %>
      <tr>
        <td><%= scrapy.store.name %></td>
        <td><%= scrapy.marca.nombre %></td>
        <td><%= scrapy.tipo.nombre %></td>        
        <td><%= link_to 'Edit', edit_scrapy_path(scrapy) %></td>
        <td><%= link_to 'Destroy', scrapy, method: :delete, data: { confirm: 'Are 
          you sure?' } %></td>
        <td><%= link_to 'Extract', extract_path(scrapy.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrapy', new_scrapy_path %>
