<p id="notice"><%= notice %></p>
<p>
  <strong>Url:</strong>
  <%= @scrapy.url %>
</p>
<p>
  <strong>Productos Path:</strong>
  <%= @scrapy.productos_path %>
</p>
<p>
  <strong>Tienda:</strong>
  <%= @scrapy.store.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @scrapy.marca.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @scrapy.tipo.nombre %>
</p>

<p>
  <strong>Imagen path:</strong>
  <%= @scrapy.imagen_path %>
</p>

<p>
  <strong>Descripcion path:</strong>
  <%= @scrapy.descripcion_path %>
</p>

<p>
  <strong>Precio path:</strong>
  <%= @scrapy.precio_path %>
</p>

<p>
  <strong>Moneda path:</strong>
  <%= @scrapy.moneda_path %>
</p>

<p>
  <strong>Url path:</strong>
  <%= @scrapy.url_path %>
</p>

<p>
  <strong>detalle path:</strong>
  <%= @scrapy.detalle_path %>
</p>

<p>
  <strong>Detalle title path:</strong>
  <%= @scrapy.detalle_title_path %>
</p>

<p>
  <strong>Detalle des path:</strong>
  <%= @scrapy.detalle_des_path %>
</p>

<p>
  <strong>Detalle general path:</strong>
  <%= @scrapy.detalle_general_path %>
</p>

<p>
  <strong>Detail gallery path:</strong>
  <%= @scrapy.detail_gallery_path %>
</p>

<p>
  <strong>Imagenes path:</strong>
  <%= @scrapy.imagenes_path %>
</p>

<p>
  <strong>Imag path:</strong>
  <%= @scrapy.imag_path %>
</p>

<%= link_to 'Edit', edit_scrapy_path(@scrapy) %> |
<%= link_to 'Back', scrapies_path %>
