<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @currency.code %>
</p>

<p>
  <strong>Value:</strong>
  <%= @currency.value %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency) %> |
<%= link_to 'Back', currencies_path %>
