<div class="container">  
  <%= form_tag(find_producto_path, :method => 'get', :id => 'search-form', :class => 'navbar-form navbar-right' ) do %>
    <div class="row finder">
      <div class="col-sm-12">
        <div class="row">
          <h1 align="center">
            Que estas buscando ?
          </h1>
        </div>        
      </div> 
      <div class="col-sm-7">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <%= search_field_tag :searchProducto, params[:searchProducto], :class => 'form-control', :placeholder => 'Referencia'  %>   
            </div>
            <div class="col-md-1"></div>           
          </div>        
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <%= text_field_tag :precio, '', :class => 'form-control', :placeholder => '450.000 CLP'%>
            </div>
          </div>        
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <%= content_tag :button, "Buscar", :class => 'btn btn-primary btn-block'%>    
            </div>
          </div>       
        </div>        
      </div>
      <div class="col-sm-5">
        <div class="col-sm-4">
            <p>Orden:
              <%= link_to '⇧', controller: "productos", action: origen, marca_id: marca, tipo_id: tipo, orden: 'asc'%>
              <%= link_to '⇩', controller: "productos", action: origen, marca_id: marca, tipo_id: tipo, orden: 'desc'%> 
            </p>                          
        </div>              
        <div class="col-sm-4">
            <p>
              Precio: 
              <%= link_to '⇧', controller: "productos", action: origen, marca_id: marca, tipo_id: tipo, orden: 'asc', cambio_precio: 't', signo: '>'%>
              <%= link_to '⇩', controller: "productos", action: origen, marca_id: marca, tipo_id: tipo, orden: 'desc', cambio_precio: 't', signo: '<'%>
            </p> 
        </div>              
        <div class="col-sm-4">
            <p>
              <%= link_to 'Nuevos', controller: "productos", action: origen, marca_id: marca, tipo_id: tipo, orden: 'asc', nuevo: 't'%>
            </p> 
        </div>                      
      </div>
      <p>
    </div>

  <% end %>
</div>
<p>
<% if flash[:notice] %>
    <div class="container">
      <div class="row">
           <div class="col-sm-4"></div>
           <div class="col-sm-4">
              <div class="alert alert-danger">
                <%= flash[:notice] %>                
              </div>
           </div>
           <div class="col-sm-4"></div>
      </div>             
    </div>
<% else %>    
<% end %>
<p>
<div class="row">
  <% coleccion_productos.each do |producto| %>
    <div class="col-sm-4">
      <div class="row">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <img id = "zoom_02"src=<%= producto.imagen.split('|')[0]%> class="img-responsive" alt="a" style="width: 150px;0px;height:150px;">  
          </div>
          <div class="col-md-4">
            <div class="row">
              <%= link_to 'Ver más', producto_path(producto.id)%>           
            </div>
            <div class="row">
              <% if logged_in? %>
                <%= link_to 'add al carrito', add_to_card_path(:producto_id => producto.id)%>  
              <% else %>
              <% end %>                                                               
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <small align="center">
          <%= producto.descripcion[0, 100]%>
           <b>
             <%= producto.currency.code%> 
             <%= producto.precio_min%>            
           </b> 
        </small>               
      </div>
      <p>
      <div class="row">
        <div class="row">
          <% if producto.cambio_precio == true%>
            Antes <%= price(producto, producto.precio_anterior, 1) %>
          <%else%>
          <% end %>
        </div>        
      </div>
    </div>

  <% end %>  
</div>


<!--     <% coleccion_productos.each do |producto| %>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><strong><%= producto.marca.nombre%></strong></div>
            <div class="col-md-4"></div>            
          </div>
          <div class="row">
            <div class="col-md-12">
              <img id = "zoom_02"src=<%= producto.imagen.split('|')[0]%> class="img-responsive" alt="a" style="width: 150px;0px;height:150px;">  
            </div>            
          </div>

          <div class="row">
           <h6>
             <label>
               <%= price(producto, producto.precio_venta, 1) %> | <%= price(producto, producto.precio_sin_iva_grv, 1) %>
             </label>
           </h6>   
          </div>

          <div class="row">
            <small>
              <%= producto.descripcion%>
            </small> 
          </div> 

          <div class="row">
            <div class="col-md-6">
              <%= link_to 'Ver más', producto_path(producto.id), :class => 'btn btn-success btn-sm' %>
            </div>
            <div class="col-md-6">
              <% if logged_in? %>
                <%= link_to 'Agregar al carrito', add_to_card_path(:producto_id => producto.id), :class => 'btn btn-primary btn-sm'%>  
              <% else %>
              <% end %>                            
            </div>            
          </div>

          <div class="row">
            <% if producto.cambio_precio == true%>
              Antes <%= price(producto, producto.precio_anterior, 1) %>
            <%else%>
            <% end %>
          </div>

          </div>        
      </div>    
      <p>      
      </div>
   <% end %>  
 -->

   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4">
       <div class="flickr_pagination">
        <%= will_paginate @productos, :container => false %>  
       </div>           
     </div>
     <div class="col-sm-4"></div>
   </div>


