<%= render 'partes/menu_padre', tipos: tipos%>
<div class="container">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	  	<%= link_to 'Compras', compras_path, :class => 'nav-link'%>
	  </li>	
	  <li class="nav-item">
	  	<%= link_to 'Account', edit_user_path(current_user), :class => 'nav-link'%>
	  </li>
	</ul>	
</div>
