<%= render 'partes/menu_padre', tipos: tipos%>
<div class="container">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	  	<%= link_to 'Ventas', admin_ventas_path, :class => 'nav-link'%>
	  </li>	
	</ul>	
</div>
