<div class="container">
  <div class="row">
    <div class="col-xs-12">           
      <%= form_for(purchase) do |f| %>
        <div class="row">
          <div class="col-xs-2"><img class="img-responsive" src=<%= purchase.producto.imagen%> class="img-responsive" alt="a" style="width: 180px;0px;height:210px;">
          </div>
          <div class="col-xs-4">
            <h6 class="product-name">
              <strong>Descripciòn del producto</strong>
            </h6>
            <%= purchase.producto.descripcion %>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-sm-4">
                <h6><strong> <%= price(purchase.producto, purchase.producto.precio_venta, 1) %>  <span class="text-muted">x</span></strong></h6>
              </div>
              <div class="col-sm-4">
                <%= f.number_field :cantidad, :class => '"form-control input-sm"'%> 
              </div>
              <div class="col-sm-4">
                = <%= price(purchase.producto, purchase.producto.precio_venta, purchase.cantidad) %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-5">
                <div class="col-xs-4"><%= f.submit "Actualizar", :class => 'btn btn-success btn-sm'%></div>
              </div>
              <div class="col-xs-2">
                <%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm'%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                Politicas de entrega. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex .                
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
        </div>            
      <% end %>           
    </div>    
  </div>  
</div>
