<% total = 0%>
<div class="container">
    <div class="card">
        <div class="card-block">
            <div class="car-header">
                <% if origen == "admin"%>
                    <small>
                        <div class="row">
                            <div class="col-md-3">
                                <%= link_to "Usuario #{payment.user.user_name}", payment.user%>
                            </div>
                            <div class="col-md-3">
                               E-mail : <%= payment.user.email%>                                
                            </div>
                            <div class="col-md-3">
                               Ciudad : <%= payment.user.city.name%>, <%= payment.user.city.country.name%>                                 
                            </div>
                            <div class="col-md-3">
                               Direcciòn : <%= payment.user.addres%>                               
                            </div>
                        </div>                    
                    </small>
                <%else%>
                <%end%> 
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <td align="center">Foto</td>
                            <td align="center">descripcion</td>
                            <td align="center">Cantidad</td>
                            <td align="center">estado</td>                  
                            <td align="center">Valor</td>
                        </tr>            
                    </thead>
                <% purchases.each do |venta| %>
                    <tr>
                        <td><img id = "zoom_02"src=<%= venta.producto.imagen.split('|')[0]%> class="img-responsive" alt="a" style="width: 100px;0px;height:100px;"></td>
                        <td><%= venta.producto.descripcion[0, 25]%></td>
                        <td><%= venta.cantidad%></td>
                        <td>
                            <%= venta.estado.nombre%>
                            <% if venta.estado.id == 4 && current_user.nivel == 1%>
                                <a href=<%= venta.producto.url%>, class = 'btn btn-success btn-sm', target="_blank">
                                  Comprar
                                </a>      
                                <%= link_to "# de pedido", edit_purchase_path(venta)%>
                            <%end %>
                        </td>
                        <td><%= venta.valor.round%><% total = total + venta.valor.round %></td>
                    </tr>
                <% end %>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total <%= total%></td>
                    </tr>
                </table>    
            </div>            
        </div>
    </div>

</div>
