<div class="table-responsive">
    <table border="1" class="table table-striped table-bordered">
        <thead class="thead-inverse">
        	<tr>
        		<td align="center">Foto</td>
        		<td align="center">descripcion</td>
        		<td align="center">Cantidad</td>
        		<td align="center">estado</td>            		
        		<td align="center">Valor</td>
        	</tr>            
        </thead>
    <% purchases.each do |purchase| %>
    	<tr>
    		<td><img id = "zoom_02"src=<%= purchase.producto.imagen.split('|')[0]%> class="img-responsive" alt="a" style="width: 100px;0px;height:100px;"></td>
    		<td><%= purchase.producto.descripcion[0, 25]%></td>
    		<td><%= purchase.cantidad%></td>
    		<td><%= purchase.estado.nombre%></td>
    		<td><%= purchase.valor.round%></td>
    	</tr>
    <% end %>
    	<tr>
    		<td></td>
    		<td></td>
    		<td></td>
    		<td></td>
    		<td>Total <%=@valor_purchase%></td>
    	</tr>
    </table>    
</div>