<div class="bottom-grids">
	<div class="bottom-top-grids">
		<div class="wrap">
			<div class="bottom-top-grid">
				<h4>GET HELP</h4>
				<ul>
					<li><a href="contact.html">Contact us</a></li>
					<li><a href="#">Shopping</a></li>
					<li><a href="#">NIKEiD</a></li>
					<li><a href="#">Nike+</a></li>
				</ul>
			</div>
			<div class="bottom-top-grid">
				<h4>ORDERS</h4>
				<ul>
					<li><a href="#">Payment options</a></li>
					<li><a href="#">Shipping and delivery</a></li>
					<li><a href="#">Returns</a></li>
				</ul>
			</div>
			<div class="bottom-top-grid last-bottom-top-grid">
				<h4>REGISTER</h4>
				<p>Create one account to manage everything you do with Nike, from your shopping preferences to your Nike+ activity.</p>
				<a class="learn-more" href="#">Learn more</a>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="bottom-bottom-grids">
		<div class="wrap">
			<div class="bottom-bottom-grid">
				<h6>EMAIL SIGN UP</h6>
				<p>Be the first to know about new products and special offers.</p>
				<a class="learn-more" href="#">Sign up now</a>
			</div>
			<div class="bottom-bottom-grid">
				<h6>GIFT CARDS</h6>
				<p>Give the gift that always fits.</p>
				<a class="learn-more" href="#">View cards</a>
			</div>
			<div class="bottom-bottom-grid last-bottom-bottom-grid">
				<h6>STORES NEAR YOU</h6>
				<p>Locate a Nike retail store or authorized retailer.</p>
				<a class="learn-more" href="#">Search</a>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrap">
		<div class="footer-left">
			<ul>
				<li><a href="#">United Kingdom</a> <span> </span></li>
				<li><a href="#">Terms of Use</a> <span> </span></li>
				<li><a href="#">Nike Inc.</a> <span> </span></li>
				<li><a href="#">Launch Calendar</a> <span> </span></li>
				<li><a href="#">Privacy &amp; Cookie Policy</a> <span> </span></li>
				<li><a href="#">Cookie Settings</a></li>
				<div class="clear"> </div>
			</ul>
		</div>
		<div class="footer-right">
			<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear'
					};
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script>
			<a href="#" id="toTop" style="display: block;"><span id="toTopHover"></span><span id="toTopHover" style="opacity: 1;"></span></a>
		</div>
		<div class="clear"> </div>
	</div>
</div>