<div class="content product-box-main">
	<div class="wrap">
		<div class="content-left">
			<div class="content-left-top-brands">
				<h3>Categories</h3>
				<ul class="place">
					<% marcas.each do |marca|%>
						<li class="sort">
				    		<%= link_to marca.nombre, productos_por_marca_path(:marca_id => marca.id, :orden => 'desc')%>	
						</li>
					<% end %>  											 
				</ul>					
			</div>
			<div class="content-left-top-grid">
				<div class="content-left-price-selection content-left-top-brands-prices">
					<h4>Select Price:</h4>
					<div class="price-selection-tree">
						<span class="col_checkbox">
							<input id="10" class="css-checkbox10" type="checkbox">
							<label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i> 400</label>
						</span>
						<span class="col_checkbox">
							<input id="11" class="css-checkbox11" type="checkbox">
							<label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
						</span>
						<span class="col_checkbox">
							<input id="12" class="css-checkbox12" type="checkbox">
							<label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
						</span>
						<span class="col_checkbox">
							<input id="13" class="css-checkbox13" type="checkbox">
							<label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
						</span>
						<span class="col_checkbox">
							<input id="14" class="css-checkbox14" type="checkbox">
							<label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
						</span>
						<span class="col_checkbox">
							<input id="15" class="css-checkbox15" type="checkbox">
							<label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
						</span>
					</div>
					
				</div>
			</div>
		</div>
		<div class="content-right product-box">
		<div class="product-box-head">
			<div class="product-box-head-left">
				<h3>Products <span>(<%=cantidad_de_productos%>)</span></h3>
			</div>
			<div class="product-box-head-right">
				<ul>
					<li><span>Sort ::</span><a href="#"> </a></li>
					<li><label> </label> <a href="#"> Popular</a></li>
					<li><label> </label> <a href="#"> New</a></li>
					<li><label> </label> <a href="#"> Discount</a></li>
					<li><span>Price ::</span><a href="#">Low High</a></li>
				</ul>
			</div>
			<div class="clear"> </div>
		</div>
			<a href=""></a>
			<div class="product-grids">
				<% productos.each do |producto| %>
					<%= link_to producto_path(producto.id) do%>
						<div class="product-grid">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li></li>
									<li></li>
									<li></li>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"><div class="positioner"><div class="stars"><div class="ghost" style="display: none; width: 42.5px;"></div><div class="colorbar" style="width: 42.5px;"></div><div class="star_holder"><div class="star star-0"></div><div class="star star-1"></div><div class="star star-2"></div><div class="star star-3"></div><div class="star star-4"></div></div></div></div></div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<img id = "zoom_02"src=<%= producto.imagen.split('|')[0]%> class="img-responsive" alt="a" style="width: 140px;0px;height:140px;">
								<p style="color: #2A2323">
									<%= producto.descripcion.strip[0, 23]%>							
								</p>						
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<%= link_to 'Ver más', producto_path(producto.id)%>
								</div>		
								<div class="product-info-price" style="color: #2A2323; font-weight: 600">
						            <%= "#{producto.currency.code} #{producto.precio_min}"%>            
								</div>
							</div>
							<div class="more-product-info">
								<span> <%= link_to '+', producto_path(producto.id)%></span>
							</div>
						</div>
					<% end %>	
				<%end%>
			</div>
		</div>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">					
						<%= will_paginate @productos, :class => 'apple_pagination'%>					
					</div>
				</div>							
			</div>
		</div>
	</div>
</div>