<div class="header-bottom">
	<div class="wrap">
		<ul class="megamenu skyblue">
		    <% tipos.each do |tipo|%>
		      <li class="grid">
		        <%= link_to tipo.nombre, productos_por_tipo_path(:tipo_id => tipo.id, :orden => 'desc'), :class => ""%>
		      </li>                                               
		    <% end %>  					
		</ul>
	</div>
</div>
