<div class="container">
  <ul class="nav nav-tabs">
    <% if marcas_tipo.count > 0%>
      <% marcas_tipo.each do |mt|%>
        <li class="nav-item">
          <%= link_to mt.marca.nombre, productos_por_marca_tipo_path(:marca_id => mt.marca_id, :tipo_id => mt.tipo_id, :orden => 'desc'), :class => "nav-link"%>
        </li>        
      <% end %>    
    <% end %>
  </ul> 
</div>

