<nav class="navbar navbar-fixed-top navbar-light bg-faded">  
<%= link_to "Tienda", root_path, :class => 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <% tipos.each do |tipo|%>
      <li class="nav-item active">
        <%= link_to tipo.nombre, productos_por_marca_tipo_path(:tipo_id => tipo.id, :orden => 'desc'), :class => "nav-link"%>
      </li>                                               
    <% end %>  
  </ul>
  <% if logged_in? %>
      <form class="form-inline pull-xs-right">
      <%= link_to current_user.user_name, compras_path, :class => 'navbar-brand' %>
      <% if current_user.nivel == 1%>
        <%= link_to "Admin", panel_admin_path, :class => 'form-control'%>
        <%= link_to "Spider", spiders_path, :class => 'form-control'%>        
      <% end %>            
      <%= link_to "(#{info_compra[0]}), #{number_to_currency(info_compra[1].round, precision: 0).to_s.gsub(/,/, ".") { |match|  }}", show_card_path, :class => 'form-control' %>    
      <%= link_to "Salir", logout_path, method: "delete", :class => 'form-control' %>        
      </form>  
  <% else %>
    <form class="form-inline pull-xs-right">                  
      <%= link_to "Login |", login_path, :class => 'navbar-brand' %> 
      <%= link_to "Registro", new_user_path, :class => 'navbar-brand' %>        
    </form>
  <% end %>
</nav>

