<div class="mid-header">
	<div class="wrap">
		<div class="mid-grid-left">
			<%= form_tag(find_producto_path, :method => 'get', :id => 'search-form') do %>
				<%= text_field_tag :searchProducto, params[:searchProducto], :class => 'form-control', :placeholder => 'Que estas buscando ?'  %>   
			<%end%>
		</div>
		<div class="mid-grid-right">
			<a class="logo" href="index.html"><span> </span></a>
			<%= link_to 'Tienda', root_path%>
		</div>
		<div class="clear"> </div>
	</div>
</div>