<div class="col-md-9 cart-items">
    <h1>My Shopping Bag (2)</h1>
     <% carts.each do |cart|%>   
        <div class="cart-header">                                
            <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item cyc">
                    <img src=<%= cart.producto.imagen.split("|")[0]%> class="img-responsive" alt="">
                </div>
                <div class="cart-item-info">
                        <ul class="qty">
                            <li>
                                <p>
                                    Precio : <%= cart.producto.precio_min%>

                                </p>
                            </li>
                            <li>
                            <%= form_tag(to_cart_path, :method=>'post') do %>
                                Cantidad <%= select_tag 'quantity', options_for_select((1..20).step(1), cart.quantity), :class => 'select_tag', :onchange => ("javascript: this.form.submit();")%>                                                                 
                                <%= hidden_field_tag "producto_id", cart.producto.id %>
                                <%= hidden_field_tag "cart_id", cart.id %>                                                                                                                         
                            <%end%>
                            </li>
                            <li>
                                <p>
                                    Total : <%= cart.quantity*cart.producto.precio_min %>
                                </p>
                            </li>
                            <li>
                                <%=link_to 'Borrar', borrar_item_path(:cart_id => cart.id), :class => 'button_tag'%>
                            </li>
                        </ul>
                    <div class="delivery">
                        <p>Service Charges : 0.0</p>
                        <span>Tiempo de entrega: 30 dias</span>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
         </div>
    <% end %>                                                           
</div>
