<div class="img-slider">
	<div class="wrap">
		<div class="sy-box jquery-demo"><div class="sy-slides-wrap"><div class="sy-slides-crop"><ul id="jquery-demo" class="sy-list">
			<li class="sy-slide fade" style="opacity: 0;">
				<a href="#slide1">
					<img src="images/slide-1.jpg" alt="">
				</a>
				<div class="slider-detils">
					<h3>MENS FOOT BALL <label>BOOTS</label></h3>
					<span>Stay true to your team all day, every day, game day.</span>
					<a class="slide-btn" href="details.html"> Shop Now</a>
				</div>
			</li>
			<li class="sy-slide fade" style="opacity: 0;">
				<a href="#slide2">
					<img src="http://gloimg.gearbest.com/gb/pdm-product-pic/Electronic/2016/12/09/grid-img/1482456908906476982.jpg" alt="">
				</a>
				<div class="slider-detils">
					<h3>MENS FOOT BALL <label>BOOTS</label></h3>
					<span>Stay true to your team all day, every day, game day.</span>
					<a class="slide-btn" href="details.html"> Shop Now</a>
				</div>
			</li>
			<li class="sy-slide fade sy-active" style="opacity: 1;">
				<a href="#slide3">
					<img src="images/slide-1.jpg" alt="">
				</a>
				<div class="slider-detils">
					<h3>MENS FOOT BALL <label>BOOTS</label></h3>
					<span>Stay true to your team all day, every day, game day.</span>
					<a class="slide-btn" href="details.html"> Shop Now</a>
				</div>
			</li>
			</ul></div><ul class="sy-controls"><li class="sy-prev"><a href="#prev">Previous</a></li><li class="sy-next"><a href="#next">Next</a></li></ul><div class="sy-caption-wrap"><div class="sy-caption" style="display: none;"></div></div><div class="sy-filler ready" style="padding-top: 46.5986%;"></div></div><ul class="sy-pager"><li class=""><a href="#1">1</a></li><li class=""><a href="#2">2</a></li><li class="sy-active"><a href="#3">3</a></li></ul>
		</div>
	</div>
</div>