<div class="top-header">
	<div class="wrap">
		<div class="top-header-left">
			<ul>				
				<% if logged_in? && numero_cart > 0%>	
					<li>
						<%= link_to "Cart(#{numero_cart})", show_cart_path%>    				
					</li>				
				<% end %>	

			</ul>
		</div>
		<div class="top-header-right">
			<ul>
				<% if logged_in? %>
					<li>
						<%= link_to current_user.user_name, compras_path%>	
						<span></span>
					</li>											
					<% if current_user.nivel == 1%>
						<li>
							<%= link_to "Admin", panel_admin_path%>	
							<span></span>
						</li>						
						<li>
							<%= link_to "Spider", spiders_path%>

						</li>
					<% end%>
					<li>
						<%= link_to "Salir", logout_path, method: "delete"%>        
					</li>					
					<%else%>
					<li>
						<%=link_to 'Login', session_new_path%>
						<span> </span>
					</li>
					<li>
						<%=link_to 'Sign up', new_user_path%>
					</li>				
				<%end%>				

			</ul>
		</div>
		<div class="clear"> </div>
	</div>
</div>