<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @cart.producto %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @cart.payment %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cart.estado %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
