<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Tienda <p> <%= f.select :store_id, Store.all.map{|p|[p.name, p.id]} %>
  </div>
  <div class="field">
    Marca <p> <%= f.select :marca_id, Marca.all.map{|p|[p.nombre, p.id]} %>
  </div>
  <div class="field">
    Tipo <p> <%= f.select :tipo_id, Tipo.all.map{|p|[p.nombre, p.id]} %>
  </div>
  <div class="field">
    url_section: <%= f.text_field :url_section %>
  </div>
  <div class="field">
    path_paginator: <%= f.text_field :path_paginator %>
  </div>
  <div class="field">
    path_listado_productos: <%= f.text_field :path_listado_productos %>
  </div>
  <div class="field">
    path_producto_description: <%= f.text_field :path_producto_description %>
  </div>
  <div class="field">
    <%= f.label :path_producto_referencia %><br>
    <%= f.text_field :path_producto_referencia %>
  </div>
  <div class="field">
    path_producto_precio: <%= f.text_field :path_producto_precio %>
  </div>
  <div class="field">
    path_producto_imagen_principal: <%= f.text_field :path_producto_imagen_principal %>
  </div>
  <div class="field">
   path_producto_url_detalle: <%= f.text_field :path_producto_url_detalle %>
  </div>
  <div class="field">
    path_producto_imagenes: <%= f.text_field :path_producto_imagenes %>
  </div>
  <div class="field">
    path_producto_detalle_description: <%= f.text_field :path_producto_detalle_description %>
  </div>
  <div class="field">
    path_producto_detalle_referencia: <%= f.text_field :path_producto_detalle_referencia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Extract', extract_path(@datum.id) %>
<% end %>
