<p id="notice"><%= notice %></p>

<h1>Listing Data</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Url section</th>
      <th>Path paginator</th>
      <th>Path listado productos</th>
      <th>Path producto description</th>
      <th>Path producto referencia</th>
      <th>Path producto precio</th>
      <th>Path producto imagen principal</th>
      <th>Path producto url detalle</th>
      <th>Path producto imagenes</th>
      <th>Path producto imagenes</th>
      <th>Path producto detalle description</th>
      <th>Path producto detalle referencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.store.name %></td>
        <td><%= datum.marca.nombre %></td>
        <td><%= datum.tipo.nombre %></td>
        <td><%= datum.url_section %></td>
        <td><%= datum.path_paginator %></td>
        <td><%= datum.path_listado_productos %></td>
        <td><%= datum.path_producto_description %></td>
        <td><%= datum.path_producto_referencia %></td>
        <td><%= datum.path_producto_precio %></td>
        <td><%= datum.path_producto_imagen_principal %></td>
        <td><%= datum.path_producto_url_detalle %></td>
        <td><%= datum.path_producto_imagenes %></td>
        <td><%= datum.path_producto_imagenes %></td>
        <td><%= datum.path_producto_detalle_description %></td>
        <td><%= datum.path_producto_detalle_referencia %></td>
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datum', new_datum_path %>
