<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @datum.store.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @datum.marca.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @datum.tipo.nombre %>
</p>

<p>
  <strong>Url section:</strong>
  <%= @datum.url_section %>
</p>

<p>
  <strong>Path paginator:</strong>
  <%= @datum.path_paginator %>
</p>

<p>
  <strong>Path listado productos:</strong>
  <%= @datum.path_listado_productos %>
</p>

<p>
  <strong>Path producto description:</strong>
  <%= @datum.path_producto_description %>
</p>

<p>
  <strong>Path producto referencia:</strong>
  <%= @datum.path_producto_referencia %>
</p>

<p>
  <strong>Path producto precio:</strong>
  <%= @datum.path_producto_precio %>
</p>

<p>
  <strong>Path producto imagen principal:</strong>
  <%= @datum.path_producto_imagen_principal %>
</p>

<p>
  <strong>Path producto url detalle:</strong>
  <%= @datum.path_producto_url_detalle %>
</p>

<p>
  <strong>Path producto imagenes:</strong>
  <%= @datum.path_producto_imagenes %>
</p>

<p>
  <strong>Path producto imagenes:</strong>
  <%= @datum.path_producto_imagenes %>
</p>

<p>
  <strong>Path producto detalle description:</strong>
  <%= @datum.path_producto_detalle_description %>
</p>

<p>
  <strong>Path producto detalle referencia:</strong>
  <%= @datum.path_producto_detalle_referencia %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
<%= link_to 'Extract', extract_path(@datum.id) %>
