@import "bootstrap";
@import "session";
@import "custom";
@import "partes";
@import "jquery-ui";
@import "googlefont.scss";

@import "style";
@import "etalage";
@import "jquery-ui";
@import "jstarbox";
@import "megamenu";
@import "owl.carousel";
@import "slippry";

.container{ 
	padding-top: 30px;
}

.caja-propiedad{
	padding-top: 1%;
}

.ui-autocomplete{
    background-color: white;
    text-decoration: none;
    width: 500px
}

.producto{
	
}

.border{
	background-color: #f7f7f9;	
	padding-top: 25px;
	padding-bottom: 25px;
}

.finder{
	background-color: rgba(236, 238, 239, 0.29);
	padding-top: 20px;
	padding-bottom: 30px;
}


