<div class="wrap">
  <%= form_for(@spider) do |f| %>
    <% if @spider.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@spider.errors.count, "error") %> prohibited this spider from being saved:</h2>

        <ul>
        <% @spider.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <% if @spider.id != nil%>
        <div class="row">
          <div class="col-sm-10">
            <h5>
              <%= @spider.store.name %>_<%= @spider.marca.nombre %>_<%= @spider.tipo.nombre %>_Url : 
              <small>
                <a href=<%=@spider.store.url%><%= @spider.url_seccion%> ><%=@spider.store.url%><%= @spider.url_seccion%></a>
              </small>
            </h5>            
          </div>
          <div class="col-sm-2">
            <p>Funcional ? => <%= f.check_box :funcional %></p>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-3">
          <div class="row">
            <h4>Tienda</h4>
          </div>
          <div class="row">
            <%= f.select :store_id, Store.all.map{|p| [p.name, p.id]} %> <%= link_to 'add Store', new_store_path%>
          </div>
            
        </div>
        <div class="col-sm-3">
          <div class="row">
            <h4>Marca</h4>
          </div>
          <div class="row">
            <%= f.select :marca_id, Marca.all.map{|p| [p.nombre, p.id]} %> <%= link_to 'add Store', new_marca_path%>
          </div>
            
        </div>
        <div class="col-sm-3">
          <div class="row">
            <h4>Tipo</h4>
          </div>
          <div class="row">
            <%= f.select :tipo_id, Tipo.all.map{|p| [p.nombre, p.id]} %> <%= link_to 'add Store', new_tipo_path%>  
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="row">
            <h4>Currency</h4>
          </div>
          <div class="row">
            <%= f.select :currency_id, Currency.all.map{|p| ["#{p.name}-#{p.code}", p.id]} %> <%= link_to 'add Store', new_currency_path%>  
          </div>          
        </div>      
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <h4>url_seccion</h4>
          </div>
          <div class="row">
            <%= f.text_area :url_seccion, :size => "40x2" %>
          </div>
          
        </div>      
        <div class="col-sm-4">
          <div class="row">
            <h4>path_listado_productos</h4>
          </div>
          <div class="row">
            <%= f.text_area :path_listado_productos, :size => "40x2"%>        
          </div>
          
        </div> 
        <div class="col-sm-4">
          <div class="row">
            <h4>path_precio_detalle</h4>
          </div>
          <div class="row">
            <%= f.text_area :path_precio_detalle, :size => "40x2"%>        
          </div>
          
        </div>            
      </div>  
    <hr>

    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <h4>path_paginador</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_paginador, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_description</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_description, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_referencia</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_referencia, :size => "40x4" %>                
        </div>      
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_precio</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_precio, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_imagen_principal</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_imagen_principal, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_url_detalle</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_url_detalle, :size => "40x4" %>                
        </div>      
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_imagenes</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_imagenes, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>pat_especificaciones</h4>  
        </div>
        <div class="row">
          <%= f.text_area :pat_especificaciones, :size => "40x4" %>                
        </div>      
      </div>
      <div class="col-sm-4">
        <div class="row">
          <h4>path_producto_detalle_referencia</h4>  
        </div>
        <div class="row">
          <%= f.text_area :path_producto_detalle_referencia, :size => "40x4" %>                
        </div>      
      </div>    
      <%= f.submit :class => "btn btn-success"%>    
    </div>
  <% end %>  
</div>
