<div class="container">

    <% @spiders.each do |spider| %>    
      <div class="row">
        <div class="col-md-10">
          <h5>
            <%= spider.store.name %>_<%= spider.marca.nombre %>_<%= spider.tipo.nombre %>_Url : 
            <small>
              <a href=<%=spider.store.url%><%= spider.url_seccion%> ><%=spider.store.url%><%= spider.url_seccion%></a>
            </small>
          </h5>            
        </div>
        <div class="col-md-2">
          <label>Funcional ? <%= check_box("tag", spider.id, {checked: spider.funcional, disabled: true}) %></label><br>
        </div>
      </div>      
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to 'Editar', edit_spider_path(spider), :class => 'btn btn-secondary' %>
        <%= link_to 'Traer ' + spider.store.name + " " + spider.tipo.nombre + " " + spider.marca.nombre, traer_data_path(spider.id), :class => 'btn btn-secondary'%>    
        <%= link_to 'Extraer ' + spider.store.name + " " + spider.tipo.nombre + " " + spider.marca.nombre, extract_path(spider.id), :class => 'btn btn-secondary'%>    
      </div> 
      <p>
      <p>
      <hr>
    <% end %> 
    <div class="row">
      <%= form_tag(asignar_spider_path, :method=>'post') do %>
        <div class="col-md-4">
          <div class="row">
            <h6>
              Origen
            </h6>
          </div>
          <div class="row">
            <%= select_tag 'origen', options_for_select(@spiders.collect{ |sp| ["#{sp.store.name}_#{sp.marca.nombre}_#{sp.tipo.nombre}", sp.id] })%>    
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h6>
              Destino
            </h6>
          </div>
          <div class="row">
            <%= select_tag 'destino', options_for_select(@spiders.collect{ |sp| ["#{sp.store.name}_#{sp.marca.nombre}_#{sp.tipo.nombre}", sp.id] })%>                
          </div>
        </div>
        <div class="col-md-4">
          <%= submit_tag 'Asignar' %>
        </div>        
      <% end %>
    </div>     
</div>
<%= link_to 'Nuevo Spider', new_spider_path %>

