<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @spider.store.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @spider.marca.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @spider.tipo.nombre %>
</p>

<p>
  <strong>Url seccion:</strong>
  <%= @spider.url_seccion %>
</p>

<p>
  <strong>Path listado productos:</strong>
  <%= @spider.path_listado_productos %>
</p>

<%= link_to 'Edit', edit_spider_path(@spider) %> |
<%= link_to 'Back', spiders_path %>
